.banner {
  position: relative;

  display: flex;
  flex-direction: column;
  height: 100%;
  padding: rem(40) rem(20) rem(38);

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    object-fit: cover;

    @media (max-height: 750px) {
      object-position: 0 rem(-100);
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: auto;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24);
    height: rem(24);

    &:active {
      svg {
        opacity: 1;
      }
    }

    svg {
      width: rem(16);
      height: rem(16);

      opacity: .6;

      fill: #fff;
    }
  }

  &__top-link {
    font-size: rem(13);
    color: inherit;

    opacity: .6;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    &:active {
      opacity: 1;
    }
  }

  &__content {
    margin-bottom: rem(16);
  }

  &__footer {
    padding: 0 rem(7);
  }
}
