.card {
  @extend .btn-reset;

  width: rem(137);
  height: rem(168);
  padding: rem(23) rem(11) rem(13);

  background: rgba(73, 87, 149, .1) url("../img/icon/shape-1.svg") no-repeat;
  background-size: 100%;
  border-radius: rem(20);
  opacity: .49;

  &--sale {
    position: relative;

    background-image: url("../img/icon/shape-2.svg");
  }

  &--active {
    font-size: 1.1rem;

    background-color: rgba(73, 87, 149, .197154);
    transform: scale(1.1);
    opacity: 1;
  }

  &__sale {
    position: absolute;
    top: rem(-4);
    right: rem(-3);

    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(38);
    height: rem(38);

    font-weight: 900;
    font-size: rem(10);
    line-height: 1.2;
    font-family: $ff-main;
    text-align: center;
    color: $c-main;

    background-color: #db0000;
    border-radius: 50%;
  }

  &__name {
    margin-bottom: rem(16);

    font-weight: 700;
    font-size: rem(17);
    line-height: 1.1;
    font-family: $ff-main;
    text-align: center;
    color: $c-main;
    text-transform: none;
  }

  &__cost {
    margin-bottom: 0;

    font-weight: 400;
    font-size: rem(14);
    line-height: 1;
    font-family: $ff-main;
    text-align: center;
    color: $c-main;
    font-style: normal;

    & strong {
      font-weight: 700;
      font-size: rem(22);
    }
  }

  &__term {
    margin-bottom: rem(13);

    font-weight: 400;
    font-size: rem(14);
    line-height: 1;
    font-family: $ff-main;
    text-align: center;
    color: $c-main;
    font-style: normal;
  }

  &__peculiarity {
    @include hight-str-languages {
      font-size: rem(12);
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(20);
    margin: 0 rem(-14) rem(10);

    font-weight: 900;
    font-size: rem(14);
    line-height: 1.2;
    font-family: $ff-main;
    color: $c-main;
    text-transform: uppercase;

    background-color: #495795;
  }

  &__monthly-cost {
    margin-bottom: 0;

    font-size: rem(12);
    line-height: 1.1;
    font-family: $ff-main;
    text-align: center;
    color: $c-main;
  }
}
