.features {
  &__item {
    display: flex;
  }

  &__icon {
    width: rem(20);
    height: rem(20);
  }

  &__caption {
    margin-left: rem(10);

    font-weight: 400;
    font-size: rem(17);
    line-height: 1.7;
    font-family: SFProText;
    color: $c-main;
    font-style: normal;
    letter-spacing: rem(-.3);
    text-shadow: 0 0 rem(4) rgba(0, 0, 0, .684495);
  }
}
