.footer {
  display: flex;
  justify-content: space-between;

  &__link {
    font-weight: 400;
    font-size: rem(11);
    line-height: 1.2;
    font-family: Roboto, sans-serif;
    color: #bdc0d0;
    text-decoration: underline;
    font-style: normal;

    &:active {
      color: $c-main;
    }

    &:hover {
      color: $c-main;
      text-decoration: underline;
    }
  }
}
