.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(24);
    height: rem(24);

    &:active {
      svg {
        opacity: 1;
      }
    }

    svg {
      width: rem(16);
      height: rem(16);

      opacity: .6;

      fill: $c-main;
    }
  }

  &__link {
    font-size: rem(13);
    color: inherit;

    opacity: .6;

    &:hover {
      color: inherit;
      text-decoration: none;
    }

    &:active {
      opacity: 1;
    }
  }
}
