// ////////////////////////////////////////// Roboto
@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Regular.woff2),
  url(../font/Roboto/Roboto-Regular.woff);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;

  font-display: swap;
  src: url(../font/Roboto/Roboto-Bold.woff2),
  url(../font/Roboto/Roboto-Bold.woff);
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: italic;

  font-display: swap;
  src: url(../font/Roboto/Roboto-BoldItalic.woff2),
  url(../font/Roboto/Roboto-BoldItalic.woff);
}

//////////////////////SFProDisplay
@font-face {
  font-weight: 400;
  font-family: SFProDisplay;
  font-style: normal;

  font-display: swap;
  src: url(../font/SFProDisplay/SFProDisplay-Regular.woff2),
  url(../font/SFProDisplay/SFProDisplay-Regular.woff);
}

@font-face {
  font-weight: 700;
  font-family: SFProDisplay;
  font-style: normal;

  font-display: swap;
  src: url(../font/SFProDisplay/SFProDisplay-Bold.woff2),
  url(../font/SFProDisplay/SFProDisplay-Bold.woff);
}

@font-face {
  font-weight: 900;
  font-family: SFProDisplay;
  font-style: normal;

  font-display: swap;
  src: url(../font/SFProDisplay/SFProDisplay-Heavy.woff2),
  url(../font/SFProDisplay/SFProDisplay-Heavy.woff);
}

//////////////////////SFProText
@font-face {
  font-weight: 400;
  font-family: SFProText;
  font-style: normal;

  font-display: swap;
  src: url(../font/SFProText/SF-Pro-Text-Regular.woff2),
  url(../font/SFProText/SF-Pro-Text-Regular.woff);
}
