html {
  font-size: .85rem;

  @media (min-width: 390px) {
    font-size: 1.1rem;
  }

  @media (min-width: 360px) {
    font-size: 1rem;
  }
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  height: 100vh;

  font-size: 1rem;
  font-family: $ff-main;
  color: $c-main;
}

.main {
  flex-grow: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  width: 5px;
  height: 5px;
}
